<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Application Protection ｜ Nexusguard</title>


    <!-- Bootstrap -->
    
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="template">
      <div id="container">
        <!-- header -->
        <header>
          <div class="wrapper">
            <div class="hd_right">
              <a href="https://www.nexusguard.com/" target="_blank"><img src="/assets/images/nxg.png"></a><br>
            </div>
            <a href="/dashboard">
                    <h1>
                <div class="hd_triangle hd_triangle_l"></div>
                <span class="hd_name">APPLICATION PROTECTION</span>
                <div class="hd_triangle hd_triangle_r"></div>
              </h1>
            </a>
          </div>
        </header>

        <!-- control panel  -->
        <div id="cm_nav">
          <div class="wrapper">
            <ul>
              <li class="active">Privacy</li>
              <li><a href="/terms">Terms of use</a></li>
            </ul>
          </div>
        </div>

        <!-- main content -->
        <div id="main">
          <div class="pt_content_1st">
            <p class="pt_h1">Nexusguard Privacy Statement</p>
            <p class="pt_note">Version 1.1 – Effective Oct 5, 2015</p>
            <p>Nexusguard, Inc. (“Nexusguard”) is committed to providing you with services through our website at "myap.nexusguard.com". This privacy statement is designed to clarify the details on how Nexusguard collects user information and how it uses them.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Definitions</p>
            <p>"Visitors" means the individuals who visit your websites."Customer Data" means the data that Nexusguard collects, processes or stores using our service concerning the characteristics and activities of Visitors.The words, "include" and "including", mean "including but not limited to”.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Service Subscription</p>
            <p>If you choose to subscribe to one of our services, Nexusguard will request certain information from you. Depending on the type of service that you request, you might be asked to provide different personal information including but not limited to your name, address, IP address, website domain name and URL. Such data is collected for the purpose of providing service to you. If the data is not provided, Nexusguard may not be able to provide service to you.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Cookies</p>
            <p>A "cookie" is a small piece of data sent from a website and stored in a user's web browser while the user is browsing that website. If a cookie is enabled, our website will be able to recognize you among our other customers until you disable or delete the cookie. Nexusguard uses cookies to help our customers get better user experiences and more secure. Your personal data will not be stored in the cookies. Nexusguard may place cookies on your browsers when you use Nexusguard’s services or have access to our website. If you do not want to accept cookies from Nexusguard, you can disable cookies from your browser, but some functions might be disabled.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Data Aggregation</p>
            <p>Nexusguard may perform data aggregation on data from your websites and Visitors’ browsers to better understand the attack profile of your websites, e.g., the sources, location and event time of attacks. The Customer Data may include Visitors' IP addresses, access time, frequency, and profile. It will be used to analyze your websites’ network traffic and geolocation of Visitors for certain report and statistics. Nexusguard will not share Customer Data that can identify you to the public or any of our affiliates (except our subsidiaries) and vendors, unless it’s required by law, regulation or court order.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Information Rights & Disclosure</p>
            <p>Nexusguard collects information when your Visitors use your websites or services. Nexusguard collects Customer Data in a variety of ways, including using web technologies like JavaScript tracker or other devices. Visitor’s data that are personal identifiers (such as a name, password, email address or billing information) will not be tracked, collected or recorded. Visitors’ browsing behavior may be stored for analysis and will be protected to prevent unauthorized access. The data mentioned in this paragraph is collected for the purpose of providing service to you.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Modifications to Privacy Statement</p>
            <p>Nexusguard may modify this Privacy Statement from time to time. Any changes to this Privacy Statement will be posted on https://myap.nexusguard.com/privacy. In addition, the Privacy Statement will indicate the date it was last revised. You must agree to any changes to the Privacy Statement when you use the services after those changes are posted. If you have any questions, you can contact Nexusguard via e-mail at privacy@nexusguard.com. Nexusguard may request additional personal information, such as your name, phone number and address, to help Nexusguard to deal with your request.</p>
            <p>You have the right to request access and correction of your personal data collected by us. You can send that request via e-mail at privacy@nexusguard.com. The individual that handles this request is customer service officer at Suite 2101, Nina Tower 2, 8 Yeung Uk Road, Tsuen Wan, NT, Hong Kong.</p>
          </div>
        </div>

      </div>
      <footer>
        <p>Copyright © 2015 Nexusguard. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>