<!-- 

                                                                                        `+.  +yysos-
                                                                                        sys+mddMMMMo
                                                                                     /No.sMmd:dMmMMy
                                                                                  `oo`-dNM/:mMN:+Mm/
                                                                                  .osyNd:yNMh-yNMo` 
                                                                                   -ddhyhNhomdmo-mh`
                                                                                  +NMmdMmh/dNss+.-` 
                                                                                .hMMMMMNsNmd-`o+`   
                                                                              .oNMMMMMMmy:`sh-      
                                                                            .omMMMMMNy:.   ``       
                                                                          -yNMMMMMmo.               
                                                                       `/hNMMMMMNs.                 
                                                                     `+dMMMMMMMh-                   
                                                                   .omMMMMMMMd/`                    
                                                                 .omMMMMMMMm+`                      
                                                               .sNMMMMMMMmo`                        
                                                             -sNMMMMMMMNs.                          
                                                           -yNMMMMMMMNy-                            
                                                         -yNMMMMMMMNy-                              
                                    ``....``           -hMMMMMMMMMh:                                
                                 .+hmNMMMMNdy/.      :hMMMMMMMMMd:                                  
                               .sNMMMMMMMMMMMMMh/``:hMMMMMMMMMm/                                    
                              oNMMMMMMMMMMMMMMMMMmdMMMMMMMMMm+`                                     
                            .dMMMMMMMMMMMMMMMMMMMMMMMMMMMMNo`                                       
                           /NMMMMMMMMMMMMMMMMMMMMMMMMMMMNs`                                         
                         -dMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+                                           
                      .+dMMMMMMMMMMMNmmmmmmmmMMMMMMMMMMMMh`                                         
                 .:ohmMMMMMMMMMMMMmmms/-..:odmmMMMMMMMMMMMm.                                        
            -/ohmNMMMMMMMMMMMMMMMdNh`       `oNdMMMMMMMMMMMm`                                       
        -+hNNMMMMMMMMMMMMMMMMMMMNdN`          hmNMMMMMMMMMMMo                                       
     .+dNMMMMMMMMMMMMMMMMMMMMMMMNdm           hmmMMMMMMMMMMMh                                       
   .sNMMMMMMMMMMMMMMMMMMMMMMMMMMMdNo         /NdMMMMMMMMMMMMs                                       
  :mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmmd+-```./hmdNMMMMMMMMMMMm.                                       
 /NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmmdddddmmNMMMMMMMMMMMMd-                                        
`NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNMMMMMMMMMMMMMMd+`                                         
oMMMMMMMMMMMMMNmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmy:`                                           
hMMMMMMMMMMMMmyyydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNh/.                                              
hMMMMMMMMMMMMMmhyyydNMMMMMMMMMMMMMMMMMMMMMMMMMMMNs-                                                 
oMMMMMMMMMMMMMMNdhyyhdNMMMMMMMMMMMMMMMMMMMMMMMMh-                                                   
`NMMMMMMMMMMMMMMMNdhyyhdNMMMMMMMMMMMMMMMMMMMMMs`                                                    
 :NMMMMMMMMMMMMMMMMNdyyyhdNMMMMMMMMMMMMMMMMMMy                                                      
  /NMMMMMMMMMMMMMMMMMNdyyyhmNMMMMMMMMMMMMMMMd`                                                      
   -mMMMMMMMMMMMMMMMMMMNdyyyhNMMMMMMMMMMMMMN-                                                       
    `sNMMMMMMMMMMMMMMMMMMNdhdNMMMMMMMMMMMMM+                                                        
      -dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMy                                                         
        /mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh`                                                         
          /mMMMMMMMMMMMMMMMMMMMMMMMMMMMMs                                                           
            /hMMMMMMMMMMMMMMMMMMMMMMMMm/                                                            
              -smMMMMMMMMMMMMMMMMMMMNo`                                                             
                 -ohNMMMMMMMMMMMMmy/`                                                               
                     .:+osssso/:.          slash.tu@nexusguard.com

 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Application Protection ｜ Nexusguard</title>

    <!-- Bootstrap -->
    
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="template">
      <div id="container">
        <!-- header -->
        <header>
          <div class="wrapper">
            <div class="hd_right">
              <a href="https://www.nexusguard.com/" target="_blank"><img src="/assets/images/nxg.png"></a><br>
            </div>
             <a href="/dashboard">
                    <h1>
                <div class="hd_triangle hd_triangle_l"></div>
                <span class="hd_name">APPLICATION PROTECTION</span>
                <div class="hd_triangle hd_triangle_r"></div>
              </h1>
            </a>
          </div>
        </header>

        <!-- control panel  -->
        <div id="cm_nav">
          <div class="wrapper">
            <ul>
              <li><a href="/privacy">Privacy</a></li>
              <li class="active">Terms of use</li>
            </ul>
          </div>
        </div>

        <!-- main content -->
        <div id="main">
          <div class="pt_content_1st">
            <p class="pt_h1">Nexusguard’s Terms of Use</p>
            <p class="pt_note">Version 1.1 – Effective Oct 5, 2015</p>
            <p>Nexusguard, Inc. provides all the content under this domain (myap.nexusguard.com), certain related software, and its services to you subject to the following terms and conditions. By using myap.nexusguard.com, you agree to accept Nexusguard's Terms of Use.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Accounts and Passwords</p>
            <p>You shall be responsible for maintaining the confidentiality of your account and password, and you agree to accept responsibility for all activities that occur in your account or activities after using of your password. Nexusguard reserves the right to suspend or terminate accounts.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Modifications of Website</p>
            <p>Depending on the plans you subscribe, Nexusguard may modify the content of your websites to provide better service without notice to you.
            1. Nexusguard may intercept requests to use your websites and present a web challenge page during the attack period.
            2.Nexusguard may add cookies to your domain to track Visitors, such as who has passed or failed from an authentication.
            Nexusguard will endeavor to make it simple and clear to our customers when such services of Nexusguard are needed.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Information Rights and Disclosure</p>
            <p>Nexusguard and its subsidiaries may retain and use information collected.
            Nexusguard will not share your Visitors’ statistic that can identity you with any third parties (except our subsidiaries) unless Nexusguard (i) has your consent; (ii) concludes that it is required by law or has a good faith belief that access, preservation or disclosure of Visitor statistic is reasonably necessary to protect the rights, property or safety of Nexusguard, its users or the public.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Prevention of Abuse</p>
            <p>Nexusguard will record our customer's IP addresses and email addresses to avoid abuse, and Nexusguard has the right to suspend or terminate your account if Nexusguard determines that you have used our service for an unlawful or improper purpose.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Visitor information privacy</p>
            <p>Nexusguard collects information when your Visitors use your websites or services. Nexusguard collects Customer Data in a variety of ways, including using web technologies like JavaScript tracker or other devices. Visitor’s data that are personal identifiers (such as a name, password, email address or billing information) will not be tracked, collected or recorded. Visitors’ browsing behavior may be stored for analyze and will be protected to prevent unauthorized access. The data mentioned in this paragraph is collected for the purpose of providing service to you.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Waiver & Invalidity</p>
            <p>The failure of Nexusguard to exercise or enforce any right or provision of this Terms of Use shall not constitute a waiver of such right or provision. If any provision of this Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of this Terms of Service remain in full force and effect.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Time Limits for Claims</p>
            <p>You agree that regardless of any statute or law to the contrary, proceedings related to any claim or cause of action arising out of or related to use of myap.nexusguard.com must be issued within one year after such claim or cause of action arose, failing which you are barred from commencement of proceedings based on such claim or cause of action.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Modifications to Terms of Service</p>
            <p>Nexusguard may modify this Terms of Use from time to time. 
            Any changes to this Terms of Use will be posted on https://myap.nexusguard.com/privacy. In addition, this Terms of Use will indicate the date it was last revised. You must agree to any changes to this Terms of Use when you use the services after those changes are posted.
            If you have any questions, please contact privacy@nexusguard.com.</p>
          </div>
          <div class="pt_content">
            <p class="pt_h2">Confidentiality</p>
            <p>You will at all times keep confidential all information or data (“Confidential Information”) disclosed to you by Nexusguard that is marked confidential or that you ought reasonably to have known as confidential and shall not use or disclose the same to any person save to the extent necessary to perform your obligations in accordance with this Terms of Use. The obligation of confidentiality shall not apply to the Confidential Information which is required to be disclosed by applicable law, regulation or order of a court of competent jurisdiction or government provided that within 3 days prior to such disclosure you will advise Nexusguard in writing of the reason that justify the disclosure.</p>
          </div>
        </div>

      </div>
      <footer>
        <p>Copyright © 2015 Nexusguard. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>