doctype html
html
  head
    title Application Protection ｜ Nexusguard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/aggregated.css')
    link(rel='stylesheet', href='/assets/css/app.css')

  body
    #app.app

  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/assets/lib/d3/3.5.3/d3.min.js")
  script(src="/assets/lib/topojson/1.6.9/topojson.min.js")
  script(src="/assets/lib/datamaps/datamaps.world.min.js")
  script(src="#{staticPath}")


