.ControlBar {
  min-height: 32px;
  display:flex;
  align-items:center;
  padding: 0 10px;
  border-bottom: 1px solid #989898;
  display:flex;
  justify-content:space-between;
  align-items: center;
}