.Box {
  padding: 20px 7px 10px 10px;
  background: #F2F2F2;
  border-bottom: 1px solid #DDDDDD;
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  color:#666;
}

.Item {
  margin:6px 30px 6px 0;
  text-align:left;
  > div {
    font-size:24px;
    line-height:24px;
  }
  > label {
    font-size:12px;
  }
  &:hover{
    color:#e15829;
    cursor:pointer;
  }
}

.ItemActive {
  composes: Item;
  color:#e15829;
}

.NoItem {
  height:53px;
  font-size:16px;
  color:darkgray;
  display:flex;
  align-items:center;
}