@media screen and (min-width: 1281px) {
	/*header > section {
		width: 1280px;
		margin: 0 auto;
	}
	#HUD ul {
		width: 1240px;
	}
	#HUD ul li.HUD-Biz {
		width: 380px;
	}
	#HUD ul li.HUD-Protection {
		width: 380px;
	}
	#HUD ul li.HUD-Performance {
		width: 380px;
	}
	#HUD ul li.HUD-APPs {
		width: 100px;
	}
	#HUD.blur ul li.active > div.fullcol {
		width: 1280px;
	}
	#MainViews {
		width: 1280px;
	}
	#MainViews > section {

	}*/
}